@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Skype:</strong>   alex.andru1<br />
    <strong>Accounts:</strong> <a href="silkroadaccounts.azure.com">Silkroad Accounts</a>
</address>