@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Silkroad Accounts</h1>
</div>

<div class="row">
    <div class="col-md-4">
        
        <p>
            Over 250 Silkroad accounts. <br/>
            You can search by server, level ar description here: @Html.ActionLink("Silkroad Accounts", "Index", "Accounts")
        </p>
        
    </div>
</div>